.contact-title p{
    margin-top: 30px;
    color: rgba(115, 115, 115, 1);
}

.contact-fon{
    background: rgba(240, 233, 225, 1);
    padding: 60px 0;
}



.contact-main{
    gap: 20px;
}
.contact-map{
    width: 100%;
    max-width: 545px;
    height: 545px;
}
.contact-map iframe{
    width: 100%;
    height: 100%;
    border-radius: 24px;
}
.contact-cnt{
    background: rgba(255, 255, 255, 1);
    border-radius: 24px;
    padding: 40px 60px;
    max-width: 545px;
    width: 100%;
}
.contact-items{
    margin-bottom: 24px;
    width: max-content;
}
.contact-items a{
    gap: 12px;
    color: rgba(54, 54, 54, 1);
    font-weight: 550;
    font-size: 32px;
    line-height: 100%;
}
.contact-items a img{
    width: 36px;
}
.contact-items small, .work-time small{
    margin-top: 12px;
    display: block;
    text-align: center;
    color: rgba(115, 115, 115, 1);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}
.contact-cnt .footer-soc a{
    width: 207px;
    font-size: 20px;
}
.work-time{
    width: max-content;
    margin-top: 27px;

}
.work-time small{
    display: block;
    margin-bottom: 8px;
    margin-top: 0;
}
.work-time p{
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: rgba(54, 54, 54, 1);
}

.map-address{
    background: rgba(255, 255, 255, 1);
    border-radius: 24px;
    padding: 40px;
    gap: 20px;
    margin-top: 25px;
}
.map-location{
    width: 100px;
}
.map-address-text{
    max-width: 740px;
    width: 100%;
}
.map-address-text h3{
    color: rgba(54, 54, 54, 1);
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;
    text-align: left;
}
.map-address-text ul{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.map-address-text ul li{
    display: flex;
    gap: 20px;
    position: relative;
    padding-left: 24px;
}
.map-address-text ul li:before{
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    background: rgba(136, 184, 157, 1);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.map-address-text ul li b{
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: rgba(54, 54, 54, 1);
}
.map-address-text ul li span{
    color: rgba(115, 115, 115, 1);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;

}






.delivery-mosc{
    margin-top: 60px;
    padding-bottom: 60px;
}

.delivery-mosc-flex{
    margin-top: 40px;
    gap: 20px;
}


.delivery-mosc-info{
    max-width: 545px;
    width: 100%;
}
.delivery-mosc-info h4{
    font-size: 23px;
    color: rgba(115, 115, 115, 1);
    text-align: left;
    margin-bottom: 30px;
}
.delivery-mosc-info ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.delivery-mosc-info ul li{
    display: flex;
    gap: 20px;
    color: rgba(115, 115, 115, 1);
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;

}
.delivery-mosc-info ul li span{
    background: rgba(197, 182, 166, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 40px;
    width: 100%;
    height: 40px;
    padding: 8px;
    color: rgba(54, 54, 54, 1);
    font-family: "Tenor Sans";
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: center;

}
.delivery-info {
    background: rgba(255, 255, 255, 1);
    border-radius: 24px;
    padding: 40px 40px;
    max-width: 545px;
    width: 100%;
}
.delivery-info h3{
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    color: rgba(54, 54, 54, 1);
    margin-bottom: 28px;
    text-align: left;
}
.delivery-info h5{
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: rgba(115, 115, 115, 1);
    margin-top: 16px;

}
.delivery-info p{
    font-size: 20px;
    color: rgba(115, 115, 115, 1);
    margin-top: 80px;
}

@media (max-width: 1199px){

    .map-address-text h3 {
        font-size: 32px;
    }
    .contact-items a {
        gap: 12px;
        font-weight: 500;
        font-size: 24px;
    }
    .work-time p {
        font-size: 20px;
    }
    .contact-cnt {
        padding: 40px 30px;
        max-width: 470px;
    }
    .delivery-info {
        padding: 30px 30px;
        max-width: 470px;
    }
    .delivery-mosc-info ul {
        gap: 28px;
    }
    .delivery-info h3 {
        font-size: 32px;
        margin-bottom: 25px;
    }
    .banner-deli{
        height: 476px;
    }
}
@media (max-width: 1020px){
    .contact-fon .container{
        padding: 0;
    }
    .contact-fon {
        padding: 40px 0;
    }

    .contact-main {
        flex-direction: column-reverse;
    }
    .contact-cnt {
        padding: 40px 30px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-map {
        max-width: 100%;
        height: 445px;
    }
    .map-address {
        padding: 32px 16px;
        gap: 9px;
        margin-top: 20px;
    }
    .map-location {
        width: 60px;
    }
    .map-address-text ul li b {
        font-size: 20px;
    }
    .map-address-text ul {
        margin-top: 28px;
        gap: 20px;
    }
    .delivery-mosc-flex {
        margin-top: 27px;
        flex-direction: column;
    }
    .delivery-mosc-info {
        max-width: 100%;
    }

    .delivery-mosc-info h4 {
        margin-bottom: 20px;
    }

    .delivery-info h5 {
        font-size: 20px;
        margin-top: 12px;
    }
    .delivery-info p {
        font-size: 17px;
        margin-top: 40px;
    }
    .delivery-info {
        padding: 24px 16px;
        max-width: 100%;
    }
    .banner-deli {
        height: 343px;
    }
}

@media (max-width: 767px){
    .contact-title p {
        margin-top: 20px;
    }
    .contact-items a img {
        width: 32px;
    }
    .delivery-mosc {
        margin-top: 56px;
        padding-bottom: 40px;
    }

}
@media (max-width: 575px){
    .map-address-text h3 {
        font-size: 24px;
    }
    .map-address-text ul li span {
        font-size: 17px;
    }
    .map-address-text ul li {
        gap: 4px;
        padding-left: 24px;
        flex-direction: column;
    }
    .contact-cnt .footer-soc a {
        width: auto;
    }
    .contact-items small, .work-time small {
        margin-top: 10px;
        font-size: 17px;
    }
}