header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 991;
    transition: 0.3s;
}
.header-home{
    padding: 20px 0 0;
    transition: 0.3s;
}
.active .header-home{
    display: none;
}

.header-standart{
    background: #E0D3C5;
    padding: 20px 0;
    transform: translateY(-100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 991;
    transition: 0.3s;
}
.active .header-standart{
    padding: 10px 0;
    transform: translateY(0);
}

.header-standart .nav-menu>ul>li>a{
    color: #737373;
}


.nav-menu{
    gap: 40px;
}
.nav-menu ul{
    display: flex;
    align-items: center;
    gap: 16px;
}
.has-submenu .submenu{
    display: none;
}
.nav-menu>ul>li>a{
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
    color: #F9F9F9;
    position: relative;
    transition: 0.3s;
}
.nav-menu>ul>li>a:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: 0.3s;
    background: #88B89D;
}
.nav-menu>ul>li:hover a:after{
    width: 100%;
}
.header-phone{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    transition: 0.3s;
}
.phone-number{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 17px;
    line-height: 120%;
    transition: 0.3s;
    white-space: nowrap;
}
.header-standart .phone-number{
    color: #737373;
}
.active .header-phone {
    gap: 10px;
}
.btn-order{
    background: #88B89D;
    width: max-content;
    height: 42px;
    gap: 10px;
    padding: 11px 16px;
    transition: 0.3s;
    color: #F9F9F9;
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
    font-family: 'HelveticaNeueCyr';

}

.btn-order:hover{
    background: #79b091;
}
.header-all .header-standart{
    transform: translateY(0);
}

.mobile-menu{
    display: none;
}
.open-menu{
    display: none;
    cursor: pointer;
}



.body_fix {
    overflow: hidden;
}
.body_fix:before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 991;
    transition: 0.3s;
    backdrop-filter: blur(6px);
    background: #00000099;

}




.close-menu-mob{
    position: absolute;
    top: 55px;
    right: 45px;
    width: 27px;
    height: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
}
.transition-menu .close-menu-mob{
    opacity: 1;

}
.close-menu-mob span{
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    background: rgba(63, 91, 82, 1);
    display: block;
    width: 100%;
    height: 2px;
}
.close-menu-mob span:nth-child(1){
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -1px;
    position: relative;
}
.close-menu-mob span:nth-child(2){
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -3px;
}














header .menu .submenu,
.header-standart .menu .submenu {
    background: #fff;
    list-style: none;
    display: none;
    position: absolute;
    border-top: 2px solid #88B89D;
    padding: 0;
    margin: 0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    padding-top: 0;
    padding-bottom: 16px;
    margin-top: 10px;
    z-index: 2;
    width: 169px;
}
header .menu .submenu:before,
.header-standart .menu .submenu:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #88B89D;
    top: -6px;
    left: 15px;
    transform: rotate(45deg);
    z-index: 1;
}
header .menu .submenu:after,
.header-standart .menu .submenu:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    top: 0;
    left: 0;
    z-index: 2;
}

header .menu .submenu li,
.header-standart .menu .submenu li{
    font-size: 15px;
    font-weight: 300;
    line-height: 28.55px;
    padding: 0;
    position: relative;
    z-index: 3;
    background: #fff;

}
header .menu .submenu,
.header-standart .menu .submenu{
    padding-top: 15px;
}
header .menu .submenu li:hover,
.header-standart .menu .submenu li:hover{
    border: none;
    text-decoration: none;
}
header .menu .submenu li a,
.header-standart .menu .submenu li a{
    color: #363636;
    border: none;
    text-decoration: none;
    display: block;
    padding: 0 22px;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
}
header .menu .submenu li a:hover,
.header-standart .menu .submenu li a:hover{
    color: #88B89D;
    border: none;
    text-decoration: none;
}

header .menu .submenu li span,
.header-standart .menu .submenu li span{
    color: rgba(54, 54, 54, 1);
    border: none;
    text-decoration: none;
    display: block;
    padding: 0 22px;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}
header .menu .submenu li:hover span,
.header-standart .menu .submenu li:hover span{
    border: none;
    background: rgba(136, 184, 157, 1);
    color: #FFFFFF;
}

header .menu .submenu li span:after,
.header-standart .menu .submenu li span:after{
    content: "";
    position: absolute;
    top: 10px;
    right: 15px;
    border-top: 2px solid #363636;
    border-right: 2px solid #363636;
    transform: rotate(45deg);
    transition: 0.2s;
    width: 7px;
    height: 7px;
}
header .menu .submenu li:hover span:after,
.header-standart .menu .submenu li:hover span:after{
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
}
header .submenu-pod{
    display: none;
}

header .submenu-pod {
    display: none;
    position: absolute;
    left: 100%;
    flex-direction: column;
    gap: 0;
    width: 176px;
    top: 0;
}
.submenu li:hover .submenu-pod {
    display: block;
}
header .menu .submenu li .submenu-pod li:first-child{
    padding: 0;
}
header .menu .submenu li .submenu-pod li {
    width: 100%;
}
header .menu .submenu li .submenu-pod li a{
    width: 100%;
    padding: 4px 8px 4px 20px;
    transition: 0.3s;
}
header .menu .submenu li .submenu-pod li a:hover{
    background: rgba(136, 184, 157, 1);
    color: #FFFFFF;
}

@media (max-width: 1020px){
    .nav-menu{
        display: none;
    }

    .header-main{
        align-items: center;
    }
    .open-menu{
        transition: 0.3s;
        width: 35px;
        height: 20px;
        display: flex;
        flex-direction: column;
        gap: 7px;
        justify-content: center;
        align-items: center;
    }
    .open-menu span{
        display: flex;
        background: rgba(63, 91, 82, 1);
        width: 100%;
        height: 2px;
        transition: 0.3s;
    }
    .open-menu span:nth-child(3) {
        width: 20px;
        margin-left: auto;
    }

    .mobile-menu {
        width: 100%;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        transition: 0.7s;
        height: 0;
        overflow: hidden;
        padding: 0;
        background: rgba(204, 188, 173, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .menu li a{
        color: rgba(54, 54, 54, 1);
        font-weight: 550;
        font-size: 28px;
        line-height: 120%;
        text-align: center;
    }
    .transition-menu {
        height: 100%;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
    .phone-number {
        color: rgba(54, 54, 54, 1);
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        transition: 0.3s;
        white-space: nowrap;
        text-align: center;
    }
    .mobile-menu-soc{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .header-phone{
        display: none;
    }
    .logo {
        width: 135px;
    }
    .header-home {
        padding: 16px 0 0;
    }
    .mobile-menu .submenu {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-left: 15px;
        margin-right: 15px;
        display: block !important;
    }
    .mobile-menu .submenu {
        border-bottom: 1px solid #B8A594;
    }
    header .menu .submenu, .header-standart .menu .submenu {
        background: unset;
        display: none;
        border-top: unset;
        padding: 0;
        margin: 0;
        box-shadow: unset;
        z-index: 2;
        width: 100%;
        position: relative;
        left: 0;
        margin-top: 13px;
    }
    header .menu .submenu li, .header-standart .menu .submenu li {
        font-weight: 500;
        font-size: 21px;
        line-height: 120%;
        padding: 0;
        position: relative;
        z-index: 3;
        color: rgba(54, 54, 54, 1);
        background: unset;
    }
    header .menu .submenu:after, .header-standart .menu .submenu:after{
        display: none;
    }
    header .menu .submenu li span, .header-standart .menu .submenu li span {
        color: rgba(54, 54, 54, 1);
        border: none;
        text-decoration: none;
        display: block;
        padding: 5px 0;
        font-weight: 500;
        font-size: 21px;
        line-height: 120%;
        cursor: pointer;
        transition: 0.3s;
        position: relative;

    }
    header .menu .submenu:before, .header-standart .menu .submenu:before{
        display: none;
    }
    header .submenu-pod {
        position: relative;
        left: 0;
        flex-direction: column;
        gap: 0;
        width: 100%;
        top: 0;
    }
    .menu {

        width: 100%;
        padding: 0 24px;
    }
    header .menu .submenu li span:after, .header-standart .menu .submenu li span:after {
        top: 12px;
        right: -18px;
        transform: rotate(135deg);
        width: 6px;
        height: 6px;
    }
    .menu li{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    header .menu .submenu li:hover span, .header-standart .menu .submenu li:hover span {
        background: unset;
        color: rgba(54, 54, 54, 1);
    }
    header .menu .submenu li , .header-standart .menu .submenu li{
        margin-bottom: 10px;
    }
    header .menu .submenu li a, .header-standart .menu .submenu li a {
        color: #363636;
        padding: 0;
        font-size: 17px;
        font-weight: 400;
        line-height: 24px;
    }
    header .menu .submenu li:hover span:after, .header-standart .menu .submenu li:hover span:after {
        border-top: 2px solid #363636;
        border-right: 2px solid #363636;
    }
    header .menu .submenu li .submenu-pod li a:hover {
        background: unset;
        color: #363636;
    }
    .submenu li:hover .submenu-pod {
        display: none;
    }
}
@media (max-width: 575px){
    .close-menu-mob {
        top: 55px;
        right: 20px;
    }




}