h1{
    font-family: 'Tenor Sans';
    font-weight: 400;
    font-size: 77px;
    line-height: 120%;
    color: #F9F9F9;
}
h2{
    font-family: 'Tenor Sans';
    font-weight: 400;
    font-size: 70px;
    line-height: 120%;
    color: #363636;

}
h3{
    font-family: 'Tenor Sans';
    font-weight: 400;
    font-size: 45px;
    line-height: 120%;
    text-align: center;
    color: #F9F9F9;
}
h4{
    font-family: 'Tenor Sans';
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    text-align: left;
    color: #F9F9F9;
}


p{
    font-weight: 300;
    font-size: 17px;
    line-height: 140%;
    color: #737373;
}


.banner-main{
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.banner-cnt{
    position: relative;
    padding: 164px 0 146px;

}

.banner-photo{
    max-width: 972px;
    width: 100%;
    margin-right: -180px;
    position: absolute;
    top: 0;
    right: 0;
}

.banner-info{
    position: relative;
    z-index: 1;
    max-width: 658px;
    width: 100%;
}

.banner-line{
    background: #F9F9F9;
    width: 200px;
    height: 1px;
    display: block;
    margin: 20px 0;
}

.banner-logo{
    width: 100%;
    position: relative;
    padding: 65px 157px;
    background: #F0E9E1;

}

.brands-pagination{
    display: none;
}
.swiper-button-prev, .swiper-button-next{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: unset;
    width: 56px;
    height: 56px;
    border: 1px solid #363636;
}
.swiper-button-prev:hover, .swiper-button-next:hover{
    background:  #363636;
}
.swiper-button-prev{
    left: 30px;
}
.swiper-button-next{
    right: 30px;
}
.icon-arrow-left{
    content: url("../img/icons/arrow-left.svg");
    transition: 0.3s;
}
.icon-arrow-right{
    content: url("../img/icons/arrow-right.svg");
    transition: 0.3s;
}
.swiper-button-prev:hover i, .swiper-button-next:hover i{
    filter: invert(1);
}

.swiper-button-prev:after, .swiper-button-next:after{
    display: none;
}


.brands-main{
    margin-top: -96px;
}

.brands-photo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brands-photo img{
    margin: auto;
    height: 60px;
    width: 85%;
}






.about-us-sec{
    padding-top: 40px;
    padding-bottom: 60px;
}
.about-us-flex{
    gap: 20px;
    margin-bottom: 40px;
}
.about-us-info{
    max-width: 545px;
    width: 100%;
}
.about-us-info h2{
    margin-bottom: 40px;
}

.about-us-info p + p{
    margin-top: 24px;
}


.about-us-func{
    max-width: 545px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 24px;
}
.about-slider{
    width: 100%;
}

.arrow-slid-btn{
    position: relative;
    gap: 12px;
    margin-left: auto;
    margin-bottom: 40px;
    width: max-content;
}

.arrow-slid-btn .swiper-button-prev{
    left: 0;
    position: relative;
    top: 0;
    margin: 0;
    transform: unset;
}
.arrow-slid-btn .swiper-button-next{
    right: 0;
    position: relative;
    top: 0;
    margin: 0;
    transform: unset;
}



.compare {
    position: relative;
    height: 360px;
}
.compare .img-wrap {
    width: 100%;
    overflow: hidden;
}
.compare .img-wrap img {
    max-width: 540px;
}
.compare .move-do {
    border-right: 1px solid #fff;
    position: absolute;
    width: 50%;
    height: 100%;
}
.compare .move-do:after {
    content: '';
    position: absolute;
    width: 32px;
    height: 106px;
    z-index: 101;
    top: 50%;
    margin-top: -53px;
    right: -16.5px;
    background: url('../img/icons/swipe.svg') center center no-repeat;
}

.about-slider-text {
    text-align: center;
    margin-top: 0;
    position: absolute;
    z-index: 10;
    margin-left: 80px;
    margin-right: 80px;
    background: gray;
    padding: 5px 20px;
    color: #fff;
    opacity: 0.6;
    font-size: 13px;
    line-height: 1.2em;
    bottom: 20px;
}


.btn{

    background: #88B89D;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    width: 310px;
    height: 60px;
    display: flex;
    color: #F9F9F9;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all .25s ease;
    margin: auto;
    border: none;
    outline: none;
    cursor: pointer;
}





.our-services{
    margin-top: 36px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/uslugi-bg.jpg");
    width: 100%;
    padding: 50px 0 60px;
}

.our-services-flex{
    gap: 20px;
    margin-top: 40px;
}
.our-services-box{
    width: 100%;
    position: relative;
}
.our-services-box img{
    width: 100%;
}
.our-services-box h3{
    position: absolute;
    max-width: 281px;
    width: 100%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
}


.video-section{
    margin-top: 50px;
}

.video-box-flex{
    margin-top: 40px;
    gap: 20px;
}
.video-box{
    width: 100%;
}



.how-work-min{
    margin-top: 110px;
}
.how-work-flex{
    margin-top: 40px;
    gap: 20px;
}

.how-work-box{
    width: 25%;
    position: relative;
}


.shema-step {
    background: #C5B6A6;
    color: #fff;
    padding: 20px 20px 30px 20px;
    height: 100%;
    position: relative;
}

.shema-step .step-num {
    width: 45px;
    height: 45px;
    background: #FFFAF4;
    bottom: 0;
    right: 0;
    position: absolute;
    color: #363636;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shema-step:not(.first):before {
    content: '';
    position: absolute;
    width: 29px;
    height: 29px;
    background: #fff;
    top: 40px;
    left: -14px;
    transform: rotate(45deg);
    z-index: 1;
}
.shema-step:not(.last):after {
    content: '';
    position: absolute;
    width: 29px;
    height: 29px;
    background: #C5B6A6;
    top: 40px;
    right: -14px;
    transform: rotate(45deg);
    z-index: 2;
}

.shema-img{
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.shema-step .title-sm {
    display: block;
    font-size: 24px;
    line-height: 1.2em;
    font-family: 'Tenor Sans';
    height: 70px;
}



.shema-step p{
    font-weight: 300;
    font-size: 17px;
    line-height: 140%;
    color: #F9F9F9;
}









.our-works {
    padding-top: 50px;
    padding-bottom: 60px;
    background: url('../img/work-bg.jpg') center center repeat-y;
    margin-top: 60px;
}

.our-works-cnt{
    position: relative;
    padding-top: 40px;
}
.works-box .label {
    width: 170px;
    height: 86px;
    background: #F0E9E1;
    color: #5F5F5F;
    font-size: 32px;
    line-height: 28px;
    position: absolute;
    left: 15px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.our-works-cnt .arrow-slid-btn {
    position: absolute;
    margin-bottom: 0;
    right: 0;
    top: -56px;
}

.works-cnt{
    display: flex;
    gap: 20px;
}


.reviews-cnt{
    position: relative;
}












.reviews-min {
    background: url('../img/reviews-bg.jpg') top center no-repeat;
    padding-top: 60px;
    padding-bottom: 60px;
}
.container {
    position: relative;
}
.reviews-min h2{
    max-width: 600px;
    width: 100%;
}
.reviews-cnt{
    margin-top: -56px;
}
.review-item {
    margin-left: 10px;
    margin-right: 10px;
    background: #fffaf4;
    text-align: center;
    position: relative;
    padding: 30px 30px 60px;
    min-height: 495px;
}
.review-item:before {
    content: '';
    position: absolute;
    width: 55px;
    height: 48px;
    background: url('../img/icons/reviews-quote-left.svg') no-repeat;
    background-size: 100%;
    left: 15px;
    top: 210px;
}
.review-item:after {
    content: '';
    position: absolute;
    width: 55px;
    height: 48px;
    background: url('../img/icons/reviews-quote-right.svg') no-repeat;
    background-size: 100%;
    right: 15px;
    bottom: 7px;
}
.review-item .img {
    text-align: center;
}
.review-item .img img {
    margin: auto;
    border-radius: 50%;
}
.review-item .author {
    font-weight: 700;
    font-size: 17px;
    color: #363636;
    margin-top: 15px;
    position: relative;
}
.review-item .who-is {
    font-weight: 550;
    font-size: 14px;
    color: #363636;
    position: relative;
}
.review-item .text {
    font-weight: 300;
    font-size: 17px;
    line-height: 28px;
    color: #737373;
    margin-top: 15px;
}















.advantages-main {
    padding-top: 60px;
    padding-bottom: 60px;
    background: url('../img/advantages-bg.jpg') top center no-repeat;
}
.advantages-flex {
    margin-top: 40px;
    gap: 20px;
}
.advantages-box{
    width: 25%;
}
.advantages-item {
    background: #F0E9E1;
    position: relative;
    height: 100%;
}
.advantages-item .img img {
    width: 100%;
}
.advantages-item .title {
    font-family: 'Tenor Sans';
    font-weight: 400;
    font-size: 21px;
    line-height: 1.2em;
    color: #363636;
    padding: 20px 20px 0;
}
.advantages-item .text {
    font-weight: 300;
    font-size: 17px;
    line-height: 28px;
    color: #737373;
    padding: 12px 20px 35px;
}
.advantages-item .num {
    position: absolute;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 0;
    background: #fff;
    color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 300;
}







.workshops-main{
    margin-top: 110px;
    padding-bottom: 110px;
}

.workshops-cnt{
    margin-top: 40px;
}
.workshops-cnt .arrow-slid-btn{
    display: none;
}
.workshops-box{
    gap: 20px;
}
.workshops-info{
    max-width: 545px;
    width: 100%;
}
.workshops-info h4{
    color: #363636;
    font-family: "Tenor Sans";
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;

}
.workshops-info p{
    margin-top: 24px;
}
.workshops-photo{
    max-width: 545px;
    width: 100%;
}
.workshops-photo img{
    width: 100%;
    height: 360px;
    object-fit: cover;
}

.workshops-slider .swiper-wrapper {
    flex-direction: column;
    gap: 40px;
}
.workshops-slider .swiper-slide:nth-child(even) .workshops-box{
    flex-direction: row-reverse;
}







footer{
    background: #363636;
    padding: 40px 0;
}

.logo-footer{
    max-width: 151px;
    width: 100%;
}

.footer-menu ul{
    display: flex;
    align-items: center;
    gap: 16px;
}
.footer-menu a{
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
    color: #BEBEBE;
    white-space: nowrap;
    transition: 0.3s;
}

.tel-number{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    white-space: nowrap;
    transition: 0.3s;
}

.footer-cnt{
    margin-top: 40px;
}
.copy-site{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.copy-site p{
    color: #737373;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
}
.copy-site p a{
    color: #737373;
    display: block;
    margin-top: 5px;
}
.accept-payments{
    margin-left: 25px;
}
.accept-payments p{
    text-align: center;
    color: #BEBEBE;
}
.payments-flex{
    margin-top: 12px;
    gap: 20px;
}

.footer-soc{
    gap: 10px;
}
.footer-soc a{
    width: max-content;
    height: 42px;
    gap: 8px;
    padding: 11px 16px;
    transition: 0.3s;
    color: #F9F9F9;
    font-weight: 550;
    font-size: 17px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-whatsapp{
    background: #25D366;
}
.link-telegram{
    background: #0087CB;

}