.modal {
    display: none;
    position: fixed;
    z-index: 99999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal.out {
    -webkit-animation: unfoldOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}


@keyframes unfoldOut {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}



#modal-thanks.out {
    -webkit-animation: opacity-anim 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: opacity-anim 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes opacity-anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.modal-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

}
@keyframes zoomIn {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

}




.close{
    position: absolute;
    top: 15px;
    right: -45px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    transform: rotate(-45deg);
    z-index: 99;
    transition: 0.3s;
}

.close:before,
.close:after{
    content: "";
    position: absolute;
    background-color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.3s;

}

.close:before{
    width: 36px;
    height: 3px;
}
.close:after{
    width: 3px;
    height: 36px;
}
.body-modal_fixed{
    overflow: hidden;
}
.body-modal_fixed:before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9991;
    transition: 0.3s;
    backdrop-filter: blur(6px);
    background: #00000099;
}


.modal-request{
    background: #E0D3C5;
    width: 100%;
    max-width: 780px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .2);
}

.modal-header {
    display: block;
    border-bottom: 0;
    padding: 1rem 0 1rem;
    text-align: center;
    max-width: 460px;
    margin: auto;
}
.modal-body {
    padding: 0 0 1rem;
    max-width: 460px;
    margin: auto;
}
.modal-footer {
    padding: 1rem 2rem 2rem;
    border-bottom: 0;
    border-top: 0;
    text-align: center;
}

.modal-header .close {
    color: #fff;
    position: absolute;
    right: -46px;
    top: 0;
    font-size: 3.5rem;
    opacity: 0.8;
    transition: all .25s ease;
    font-weight: 300;
    outline: none;
}
.modal-header .close:hover {
    opacity: 1;
}

.modal-title {
    font-family: 'Tenor Sans';
    font-size: 38px;
    font-weight: 400;
    color: #363636;
    line-height: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-description {
    font-family: 'HelveticaNeueCyr';
    font-size: 21px;
    line-height: 26px;
    color: #737373;
    font-weight: 300;

}

.modal-dialog .form-group label {
    font-family: 'HelveticaNeueCyr';
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #363636;
}

.modal-dialog .form-control {
    border-radius: unset;
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #363636;
    border: 1px solid #CCBCAD;
    padding-left: 25px;
}
.modal-dialog .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(161 151 141 / 25%);
}

.modal-dialog .form-control.phone {
    font-size: 26px;
}

.modal-dialog input {
    height: 70px;
}
.modal-dialog textarea {
    height: 113px;
}
.modal-footer {
    display: block;
}
.modal-footer button {
    margin: 0 auto;
    width: 310px;
    height: 60px;
}

.modal-dialog .text-error {
    color: red;
    display: none;
}

.modal-dialog .required-notice {
    font-size: 13px;
    color: #737373;
}

.modal-dialog .add-foto {
    font-family: 'HelveticaNeueCyr';
    font-size: 17px;
    color: #363636;
    background: url('../img/add-photo.svg') left center no-repeat;
    height: 72px;
    padding: 23px 0 0 96px;
    font-weight: 400;
    cursor: pointer;
}

.modal-dialog .add-foto-input {
    position: absolute;
    margin-top: -72px;
    opacity: 0;
    cursor: pointer;
}
.modal-request .required-notice {
    margin-top: 10px;
}

.modal-request .form-control {
    max-width: 100%;
}


@media (max-width: 1199px){
    .modal-title {
        font-size: 30px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .modal-body {
        padding: 0;
    }
}
@media (max-width: 1020px){
    .modal-request {
        max-width: 600px;
    }
    .close {
        top: 15px;
        right: 16px;
        width: 28px;
        height: 28px;

    }

    .close:before{
        width: 28px;
        height: 3px;
    }
    .close:after{
        width: 3px;
        height: 28px;
    }
    .modal-request{
        padding: 0 20px;
    }
}
@media (max-width: 767px){
    .modal-request {
        max-width: 600px;
    }
    .modal-footer {
        padding: 1rem 0 1rem;
        text-align: center;
    }
}