.our-work-wrap{
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 20px;
}
.our-work-box{
    width: calc(33.333333% - 14px);
}

.brands-page{
    margin-bottom: 60px;
}
.brands-page h2{
    max-width: 660px;
    width: 100%;
}

.brands-page-cnt{
    margin-top: -56px;
    padding: 0 75px;
}
.our-services h4{
    margin-top: 40px;
    color: #363636;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
}











.cost-by-photo {
    background: #F0E9E1;

}
.cost-by-photo .container{
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}

.cost-by-photo .image {
    position: absolute;
    z-index: 1;
    left: 50%;
    height: 100%;
    top: 0;
}
.cost-photo-cnt{
    position: relative;
    z-index: 2;
}
.cost-by-photo form {
    width: 50%;
    margin-top: 40px;
    padding-right: 40px;
}
.cost-by-photo form p {
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
}
.cost-by-photo form .agreement-text {
    font-size: 13px;
    line-height: 18px;
    color: #949494;
}
.cost-by-photo form input[type=checkbox] {
    margin-right: 5px;
}


.form-group{
    margin-top: 24px;
}

form .form-group label {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #363636;
}

form .form-control {
    border-radius: unset;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #363636;
    border: 1px solid #CCBCAD;
    padding-left: 25px;
    max-width: 451px;
    width: 100%;
}
form .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(161 151 141 / 25%);
}
form .form-control.phone {
    font-size: 26px;
}
form input[type=text], form input[type=file]{
    height: 70px;
}
form textarea {
    height: 113px;
}
.modal-footer {
    display: block;
}
form .text-error {
    color: red;
    display: none;
}
form .required-notice {
    font-size: 13px;
    color: #737373;
}
form .add-foto {
    font-family: 'HelveticaNeueCyr';
    font-size: 17px;
    color: #363636;
    height: 72px;
    padding: 23px 0 0 96px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}
form .add-foto:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background-image: url('../img/add-photo.svg') ;
    background-repeat: no-repeat;
    background-size: cover;
}
form .add-foto-input {
    position: absolute;
    margin-top: -72px;
    opacity: 0;
    cursor: pointer;
}

.btn-send{
    border: 1px solid #88B89D;
    width: 100%;
    max-width: 263px;
    height: 60px;
    gap: 10px;
    padding: 20px 30px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    background: unset;
    color: #88B89D;
    font-weight: 550;
    font-size: 20px;
    line-height: 120%;
}

.advantages-works{
    padding: 50px 0 60px;
}

.price-page-title p{
    margin-top: 30px;
}

.price-table {
    padding-top: 60px;
}
.price-table h3{
    color: #363636;
    font-size: 38px;
    line-height: 120%;
    text-align: left;
}
.price-table .table {
    margin-top: 30px;
}
.price-table .table th, .price-table .table td {
    width: 50%;
}


.table thead th {
    background: #C5B6A6;
    font-family: 'Tenor Sans';
    font-size: 28px;
    font-weight: 400;
    color: #000;
    border: none;
    height: 73px;
    vertical-align: middle;
    padding-left: 32px;
    text-align: left;
}
.table thead tr th:last-child {
    border-left: 1px solid #fff;
}
.table td {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #737373;
    vertical-align: middle;
    border: none;
    height: 64px;
    padding-left: 32px;

}
.table tr td:last-child {
    border-left: 1px solid #fff;
}
.table-striped tbody tr {
    background: #E7DFD6;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F0E9E1;
}





.company-blog-sec .bleaching-photo{
    margin-top: 60px;
}



.bleaching-photo{
    margin-top: 30px;
    width: 100%;
}
.bleaching-photo img{
    width: 100%;
}


.bleaching-sec{
    margin-bottom: 100px;
}
.company-blog-sec{
    margin-bottom: 100px;
}

.bleaching-text{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}



.bleaching-flex{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.bleaching-pic{
    width: 100%;
    max-width: 545px;
}
.bleaching-pic img{
    width: 100%;
    height: 360px;
    object-fit: cover;
}
.ning-whit{
    margin: 35px 0 25px;
}
.bleaching-text h3{
    color: #363636;
    font-size: 40px;
    text-align: left;
    margin-top: 35px;
}
.ning-whit h3{
    color: #363636;
    font-size: 40px;
    text-align: left;
}
.bleaching-name{
    width: 100%;
    max-width: 535px;
}
.bleaching-name h4{
    color: #363636;
    font-size: 24px;
    text-align: left;
}
.bleaching-name p{
    margin-top: 20px;
}

.ning-whit .workshops-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
.ning-whit .workshops-box:nth-child(even){
    flex-direction: row-reverse;
}
@media (max-width: 1599px){
    .cost-by-photo .image {
        left: auto;
        right: 0;
    }
    .cost-by-photo .container {
        padding-top: 40px;
        padding-bottom: 40px;
        position: unset;
    }
    .modal-content {
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100vh;
        align-items: flex-start;
    }
    .modal-request {
        border: unset;
    }

    .modal-request::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: unset;

    }
    .modal-request::-webkit-scrollbar-thumb {
        width: 0;
        height: 0;
        background: unset;
    }

}



@media (max-width: 1299px){
    .our-services h4 {
        margin-top: 28px;
        font-size: 30px;
    }
    .brands-page-cnt {
        margin-top: -29px;
        padding: 0 50px;
    }
    .cost-by-photo .image {
        width: 50%;
        object-fit: cover;
    }
}







@media (max-width: 1199px){
    form .form-control.phone {
        font-size: 22px;
    }
    form .form-control {
        max-width: 351px;
    }
}



@media (max-width: 1020px){
    .our-work-box {
        width: calc(50% - 14px);
    }
    .our-work-wrap {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .brands-page-cnt {
        margin-top: 20px;
        padding: 0 50px;
        flex-direction: column-reverse;
        display: flex;
    }
    .brands-slider{
        width: 100%;
    }

    .our-services h4 {
        margin-top: 23px;
        font-size: 24px;
    }
    .price-table h3 {
        font-size: 30px;
    }
    .table thead th {
        font-size: 22px;
        height: 60px;
        padding-left: 23px;
    }
    .table td {
        font-size: 16px;
        line-height: 19px;
        height: 58px;
        padding-left: 23px;
    }
}

@media (max-width: 767px){
    .cost-by-photo .container {
        padding-top: 0;
    }
    .cost-by-photo .image {
        position: relative;
        top: 0;
        width: 100%;
    }
    .cost-photo-cnt {
        position: relative;
        z-index: 2;
        margin-top: 20px;
    }
    .cost-by-photo form {
        width: 100%;
        margin-top: 33px;
        padding-right: 0;
    }
    .cost-by-photo form p {
        font-size: 17px;
        line-height: 24px;
    }
    .price-table h3 {
        font-size: 24px;
    }

    .price-table {
        padding-top: 40px;
    }
    .table-scroll{
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 15px;
    }
    .table-scroll table{
        width: 700px;
    }
    form .add-foto:before {
        width: 50px;
        height: 50px;
    }
    form input[type=text], form input[type=file] {
        height: 55px;
    }
    form .form-control.phone {
        font-size: 19px;
        padding-left: 16px;
    }
    form .add-foto {
        font-size: 17px;
        height: 54px;
        padding: 18px 0 0 66px;
    }

    form textarea{
        padding-top: 13px;
        font-size: 17px;
        line-height: 25px;
    }
    .modal-header {
        padding: 3rem 0 1rem;
    }

    .close:before,
    .close:after{
        background-color: #363636;
    }
    .modal-content {
        background: #E0D3C5;
    }
}
@media (max-width: 570px){
    .advantages-works {
        padding: 40px 0 60px;
    }
    .our-work-box {
        width: 100%;
    }

}