@font-face {
    font-family: 'Tenor Sans';
    src: url('TenorSans.eot');
    src: local('Tenor Sans'), local('TenorSans'),
    url('TenorSans.eot?#iefix') format('embedded-opentype'),
    url('TenorSans.woff2') format('woff2'),
    url('TenorSans.woff') format('woff'),
    url('TenorSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}






@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Bold.eot');
    src: local('HelveticaNeueCyr-Bold'),
    url('HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('HelveticaNeueCyr-Bold.woff') format('woff'),
    url('HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Medium.eot');
    src: local('HelveticaNeueCyr-Medium'),
    url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('HelveticaNeueCyr-Medium.woff') format('woff'),
    url('HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}



@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Heavy.eot');
    src: local('HelveticaNeueCyr-Heavy'),
    url('HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Heavy.woff2') format('woff2'),
    url('HelveticaNeueCyr-Heavy.woff') format('woff'),
    url('HelveticaNeueCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Roman.eot');
    src: local('HelveticaNeueCyr-Roman'),
    url('HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('HelveticaNeueCyr-Roman.woff') format('woff'),
    url('HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
